[Desktop Entry]
Comment=Nice radio app for gtk3 environment
Exec=$HOME/.local/bin/radihypn
GenericName=radio app
Icon=radihypn.png
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
