[Desktop Entry]
Version=1.1
Type=Application
Name=radihypn
GenericName=radio app
Comment=Nice radio app for gtk3 environment
Icon=radihypn
Exec=/bin/bash -c "$HOME/.local/bin/radihypn"
Actions=
Categories=Audio;AudioVideo;AudioVideoEditing;Network;Player;TV;
StartupNotify=true
